@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-family: 'Lexend', sans-serif;
}

/* colors */
.pc-green {
  color: #018e42;
}

.bg-pc-green {
  background-color: #018e42;
}

.pc-red {
  color: #731013;
}

.bg-pc-red {
  background-color: #731013;
}

.pc-white {
  color: #ebebec;
}

.pc-white-title {
  color: #eefcfa;
}
.pc-pink-white {
  color: #c79fa1;
}

.pc-near-white {
  color: #f3f5f6;
}
.bg-pc-near-white {
  background-color: #f3f5f6;
}

.pc-pink {
  color: #df1869;
}

.pc-black {
  color: #0f1428;
}

/* .pc-black-intro {
  color: #707070;
} */

.pc-near-black {
  color: #aeafb3;
}

.pc-info {
  color: #D6D7D9
}
/* .pc-black-intro-content {
  color: #343741;
} */
.pc-dark-gray {
  color: #343741;
}
.pc-light-black {
  color: #5f7081;
}

.pc-gray {
  color: #707070;
}

.b--pc-gray {
  color: #707070;
}

/* near-white */
/* .bg-content {
  background-color: #f3f5f6;
} */
/* 
_partner-title
_qa-title
 */

/* text */
.p-title {
  font-size: 80px;
  font-weight: 600;
}

.cau-hoi-active,
.cau-hoi {
  color: #343741;
  background-color: white;
}
.cau-hoi-active {
  color: #ebebec;
  background-color: #731013;
}



.cau-tra-loi {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #23242f;

  transition: 'all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1)';
  overflow: hidden;
}

.f25 {
  font-size: 1.8rem;
}


/* sizes, layout */
.w25 {
  width: 3rem;
}
.w22 {
  width: 2.4rem;
}

.w45 {
  width: 12rem;
}

.h7 {
  height: 500px;
}

.top-4 {
  top: 6rem;
}

.top--3 {
  top: -4rem;
}

.khoiVuong {
  /* border-radius: 30px; */
  background-color: rgba(255, 255, 255, 0.15);
  border: solid 2px #731013;
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media only screen and (min-width: 60em) {
  .khoiVuong {
    width: 208px;
    height: 206px;
  }
  .soTo {
    font-size: 100px;
    line-height: 99px;
    font-weight: 600;
  }
}
