* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* colors */
.pc-green {
  color: #018e42;
}

.bg-pc-green {
  background-color: #018e42;
}

.pc-red {
  color: #731013;
}

.bg-pc-red {
  background-color: #731013;
}

.pc-white {
  color: #ebebec;
}

.pc-white-title {
  color: #eefcfa;
}
.pc-pink-white {
  color: #c79fa1;
}

.pc-near-white {
  color: #f3f5f6;
}
.bg-pc-near-white {
  background-color: #f3f5f6;
}

.pc-pink {
  color: #df1869;
}

.pc-black {
  color: #0f1428;
}

.pc-black-intro {
  color: #707070;
}

.pc-near-black {
  color: #aeafb3;
}
.pc-black-intro-content {
  color: #343741;
}
.pc-light-black {
  color: #5f7081;
}

/* near-white */
/* .bg-content {
  background-color: #f3f5f6;
} */

/* text */
.p-title {
  font-size: 80px;
  font-weight: 600;
}


/* sizes, layout */
.w25 {
  width: 3rem;
}
.h7 {
  height: 500px;
}

.top-4 {
  top: 6rem;
}

.top--3 {
  top: -4rem;
}

.khoiVuong {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  border: solid 2px #731013;
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media only screen and (min-width: 60em) {
  .khoiVuong {
    width: 208px;
    height: 206px;
  }
  .soTo {
    font-size: 100px;
    line-height: 99px;
    font-weight: bold;
  }
}
